<%- include("../partials/_userheader") -%>
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <img src="/public/<%= %>" alt="">
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">

            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">

            </div>
        </div>
    </div>
    <%- include("../partials/_footer") -%>