<%- include("../partials/_header") -%>
<div class="container">
    <form action="/register" method="post" enctype="multipart/form-data">
        <div class="row justify-content-center mt-3 ">
            <div class="col-12 col-md-6 col-lg-6">
                <label for="">Email :</label>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <input type="email" name="Email" class="form-control" >
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <label for="">Password :</label>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <input type="password" name="Password" class="form-control" >
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <label for="">Phoneumber :</label>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <input type="text" name="Phoneumber" class="form-control" >
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <label for="">Address :</label>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <input type="text" name="Address" class="form-control" >
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <label for="">อัพโหลดรูปภาพ :</label>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <input type="file" name="file" class="form-control" >
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-6 col-md-4 col-lg-4">
                <input type="submit" value="Register" class="form-control btn btn-success">
            </div>
        </div>
    </form>

</div>
<%- include("../partials/_footer") -%>